:root {
  --text-1: #a3a5aa;
  --text-2: #878991;
  --text-3: #6e7177;
  --text-4: #5c5c5c;
  --text-5: #525252;
  --bg-1: #333333;
  --bg-2: #282828;
  --bg-3: #232323;
  --bg-4: #1e1e1e;
  --accent-1: hsl(17, 27%, 52%);
  --accent-2: hsl(17, 27%, 45%);
  --accent-3: hsl(17, 27%, 38%);
  --accent-4: hsl(17, 27%, 31%);
  --accent-5: hsl(17, 27%, 24%);
  --mention: hsla(17, 27%, 38%, 0.1);
  --mention-hover: hsla(17, 86%, 66%, 0.05);
}
